{
  "extends": [
    "netflix",
    "plugin:react/recommended"
  ],
  "plugins": [
    "jest"
  ],
  "parserOptions": {},
  "env": {
    "es6": true,
    "jest/globals": true
  },
  "globals": {},
  "rules": {
    "class-methods-use-this": "off"
  }
}